﻿@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <abbr title="Phone">P:</abbr>
    1132427184
</address>

<address>
    <strong>Support:</strong> <a href="silvaandres@hotmail.com">silvaandres@hotmail.com</a><br />
</address>
