﻿
@{
    ViewData["Title"] = "Esto es test";
}

<div class="row">
    <div class="col-md-12">
        <h2>Application Get Employees</h2>
    </div>
    <div class="col-md-8">
        <input type="text" id="txtIdEmployee" placeholder="Id Empleado" />
        <input type="button" id="btnSearchEmployee" value="Buscar" />
    </div>
    <div class="col-md-12">
        <p><small>para buscar todos los empleados no ingrese el id y haga click en buscar.</small></p>
    </div>
</div>

<div class="row">
    <table id="tbEmployee" class="table invisible">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Contract Type</th>
                <th scope="col">Role Name</th>
                <th scope="col">Salary</th>
            </tr>
        </thead>
        <tbody id="tbItemsEmployee"></tbody>
    </table>
</div>

<div class="alert alert-info invisible" id="messageError" role="alert">
    
</div>

<script src="~/site.min.js"></script>

<script>

    $(document).ready(function () {

        //TODO: parametrizar en config
        var urlApi = "https://localhost:44378/api/Employee";
        //TODO: parametrizar en config

        var btnSearchEmployee = $("#btnSearchEmployee");
        var tbItemsEmployee = $("#tbItemsEmployee");
        var tbEmployee = $("#tbEmployee");
        var txtIdEmployee = $("#txtIdEmployee");
        var divMessageError = $("#messageError");

        btnSearchEmployee.click(function () {
            searchEmployees();
        });

        function searchEmployees() {
            hideTableEmployee();
            clean();    
            hideError();

            if (txtIdEmployee.val() != "") {
                getEmployeeById(txtIdEmployee.val());
            } else {
                getEmployees();
            }        
        }

        function getEmployees() {
            var url = urlApi;

            $.getJSON(url, function (data) {
                $.each(data, function (i, value) {
                    appendEmployee(value);
                    showTableEmployee();
                })
            }).fail(handlerError);
        }

        function getEmployeeById(id) {
            var url = urlApi + "/" + id;

            $.getJSON(url, function (data) {
                if (data != undefined) {
                    appendEmployee(data);
                    showTableEmployee();
                }
            }).fail(handlerError);           
        }

        function handlerError(jqxhr) {
            var resultErr = jQuery.parseJSON(jqxhr.responseText);
            //TODO: borrar
            console.log(resultErr.error.message);
            showError(resultErr.error.message);
        }

        function appendEmployee(value) {
            tbItemsEmployee.append("<tr><td>" + value.id + "</td><td>" + value.name + "</td><td>" + value.contractTypeName + "</td><td>" + value.roleName + "</td><td>" + value.salary + "</td><tr>");
        }

        function showTableEmployee() {
            tbEmployee.removeClass("invisible");
        }

        function hideTableEmployee() {
            tbEmployee.addClass("invisible");
        }

        function clean() {
            tbItemsEmployee.find("tr").remove();
        }

        function showError(textError) {
            divMessageError.text(textError);
            divMessageError.removeClass("invisible");
        }

        function hideError() {
            divMessageError.text("");
            divMessageError.addClass("invisible");
        }

    });


</script>



